@model TrainingStudio.Models.Classes

@{ ViewData["Title"] = "Details"; }
@{ Layout = "_Layout2"; }
<br />

<div>
    <h4>Details of Classes</h4>
    <hr />
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrainingType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.TrainingType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Time)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>
    <a asp-action="Index" type="button" class="btn btn-warning">Back to List</a>
</div>
